* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.content {
    min-height: 100%;
    margin: 0 auto -30px;
}

footer {
    height: 30px;
}

button:hover {
    cursor: pointer;
}