<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/defaultLayout">
<head>
    <title>로그인 페이지</title>
</head>
<body>

<th:block layout:fragment="pageContent">
    <h1>OAuth2 Login</h1>
    <h2 th:text="${fail}"></h2>

    <div class="login-oauth-button">
        <div class="loginButton" th:each="oauthLogin: ${oauthLoginList}" th:attr="data-oauthcode=${oauthLogin}"></div>
    </div>
</th:block>

<th:block layout:fragment="pageCss">
    <link type="text/css" rel="stylesheet" th:href="@{/css/login.css}" />
</th:block>

<th:block layout:fragment="pageScript">
    <script type="text/babel" th:src="@{/js/login.js}"></script>
</th:block>

</body>
</html>
